h1 {
    color: blueviolet;
}
p {
 color: chartreuse;  
}
/*this my first comment*/
* {
    color:rgb(146, 36, 58);
}
            h1 {
                color: blue;
            }
            p {
                color:greenyellow;
            }
            #top_heading {
                color: darkgoldenrod;
                background-color: bisque;
                
            }
            .class
            {
                color: blue;
            }
            h2,h3,h4 {
                color: deeppink;
            }
            div p{color: lightgreen;}
    