.box {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: block;
}
.box1 {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: inline;
}
p {
    text-align:left;
    font-size: 20px;
    font-style: oblique;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: inline-block;
}
.box3 {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display:none;
}
#first {
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    font-size: 20px;
}
#second {
    height: 20%;
    width: 40%;
    width: 30%;background-color: slateblue;
    font-size: 6rem;
}
.firstone {
    height: 20vh;
    width: 70vw;
    background-color: fuchsia;
}

.div{
    height: 70px;
     width: 70px;
    background-color: gray;
    border: 5px solid black; 
    margin: 20px;
}
#div1{position: static;  }
#div2{position:relative; top: 2px; left: 10px; }
#div3{position:fixed; top: 2px; left: 5px; }
#div4{position: absolute; top: 2px; left: 2px; }