
#first {
    color: brown;
    background-color: blanchedalmond;
}
#second , #third{
    color:#ff0000;
    background-color: cadetblue;
}
button{
    color: rgb(59, 135, 1.0);
    background-color: chocolate;
    
}
.box {height: 40px; width: 40px; }
#box1 { height:100px width="100px" blueviolet; background-image:url(css/images/css.png);}
#box1 {height: 100px width=100px; }
#box2 {color: rgb(70, 226, 43); background-color: burlywood; visibility: hidden;}
#box3 {color: rgb(67, 43, 226); background-color: burlywood; visibility: visible;}
#box4 {color: rgb(172, 32, 0); background-color: burlywood;}

        